body {
	font-family: "Open Sans", sans-serif;
	line-height: 1.2em;
	position: relative;
	background-color: #F7F8FA;
}

.menu__list__item{
	display: inline-block;
}

.menu__list__item a {
	display: inline-block;
	border-bottom: 3px solid transparent;
	border-top: 3px solid transparent;
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	margin: 0 1.2em;
	text-decoration: none;
	color: #84CBEB;
}

.menu__list__item--active a,
.menu__list__item a:hover {
	border-bottom-color: white;
	color: white;
}

.menu__list__item:first-child a {
	margin-left: 40px;
}

.main-header {
	height: 80px;
	position: absolute;
	left:0;
	right:0;
	margin: auto;
	box-sizing: border-box;
	width:1024px;
}

.menu__list {
	position: absolute;
	width: 1024px;
	left:0;
	right:0;
	margin: auto;
}

.menu {
	position: absolute;
	background-color: #2498D1;
	top: 80px;
	height: 48px;
	width: 100%;
}

main {
	position: absolute;
	margin: auto;
	height: 400px;
	top: 128px;
	left: 0px;
	right: 0px;
	width: 1024px;
}

main h1 {
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
	font-size: 24px;
	color: #414752;
	position: absolute;
	left: 40px;
	top: 60px;
}

.page-name {
	color:  #414752;
	font-size: 16px;
	font-weight: 600;
	font-family: "Open Sans", sans-serif;
	position: absolute;
	display: inline-block;
	top: 26px;
	left: 135px;
}

.pass-list{
	position: absolute;
	top: 90px;
	left: 30px;
}

.pass-list__item {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	width: 240px;
	height: 320px;
	border: 8px solid transparent;
}

.pass-list__item:hover {
	border: 8px solid #CDE5F1;
}

.pass-list__item > a {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: block;
	border: 1px solid #D4D5D7;
	position: relative;
	text-decoration: none;
	color: black;
	text-align: center;
	padding-top: 130px;
	padding-left: 10px;
	padding-right: 10px;
}

.pass-list__item__image > img{
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom:198px;
}

.pass-list__item__name {
	font-size: 16px;
	color: #414752;
	font-weight: 600;
}

.pass-list__item__description {
	font-family: 'Open Sans';
	color: #A0A3A8;
	font-size: 14px;
	position: absolute;
	top: 175px;
	left: 0;
	right: 0;
	margin: auto;
	width: 180px;
	text-align: center;
}

.logo > img {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 40px;
}







