body {
	font-family: "Open Sans", sans-serif;
	line-height: 1.2em;
	position: relative;
	background-color: #F7F8FA;
}

.logo {
	display: inline-block;
	position: absolute;
	top: 17px;
	left: 40px;
}

.logo img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.menu__list__item{
	display: inline-block;
}

.menu__list__item a {
	display: inline-block;
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	height: 40px;
	line-height: 42px;
	font-size: 14px;
	text-decoration: none;
	color: #84CBEB;
	margin: 0px 1.6em;
}

.menu__list__item--active a,
.menu__list__item a:hover {
	border-bottom-color: white;
	color: white;
}

.menu__list__item:first-child a {
	margin-left: 40px;
}

.u__center {
	margin: 0 auto;
	position: relative;
}

.u__widthed {
	width: 1024px;
}

.main-header {    
	height: 80px;
	border-bottom: 1px solid #C2C3C5;
}

.menu {
	background-color: #2498D1;
	height: 48px;
}

main h1 {
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
	font-size: 24px;
	color: #414752;
}

.page-name {
	color:  #414752;
	font-size: 16px;
	font-weight: 600;
	font-family: "Open Sans", sans-serif;
	display: inline-block;
	position: absolute;
	top: 30px;
	left: 136px;
}
.pass-list{
	position: absolute;
	top: 88px;
	left: 32px;
}

.pass-list__item {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	width: 240px;
	height: 320px;
	border: 8px solid transparent;
}

.pass-list__item:hover {
	border: 8px solid #CDE5F1;
}

.pass-list__item > a {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: block;
	border: 1px solid #D4D5D7;
	position: relative;
	text-decoration: none;
	color: black;
	text-align: center;
	padding-top: 135px;
	padding-left: 10px;
	padding-right: 10px;
}

.pass-list__item__image > img{
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom:198px;
}

.pass-list__item__name {
	font-size: 16px;
	color: #414752;
	font-weight: 600;
}

.pass-list__item__description {
	font-family: 'Open Sans';
	color: #A0A3A8;
	font-size: 14px;
	position: absolute;
	top: 175px;
	left: 0;
	right: 0;
	margin: auto;
	width: 180px;
	text-align: center;
}

.pass-list-header {
	position: absolute;
	top:60px;
	left: 40px;
}


#choose-type,
#pass-form,
#pass-confirm{
	display: none;
}

.pass-form-header {
	position: absolute;
	top: 60px;
	left: 280px;
}

.pass-form {
	width: 465px;
	margin: 85px auto 0 auto;
}

.pass-form__fieldset + .pass-form__fieldset{
	margin-top: 87px;

}

.pass-form__fieldset {
	background-color: #FFFFFF;
	border: 1px solid #D4D5D7;
	padding: 15px 25px 10px 15px;
}

.pass-form__fieldset__legend {
	color: #414752;
	font-size: 24px;
	font-weight: 600;
	width: 0;
	position: relative;
	top: -25px;
	left: -15px;
	white-space: nowrap;
}

.pass-form__label {
	margin-bottom: 15px;
	display: block;
}

.pass-form__label--half {
	display: inline-block;
	margin-bottom: 15px;
	margin-right: 22px;
	width: 198px;
}

.pass-form__label--half ~ .pass-form__label--half {
	margin-right: -10px;
}

.pass-form__label input,
.pass-form__label--half input {
	margin-top: 5px;
	height: 44px;
	display: block;
	width: 100%;
	border: 1px solid #D4D5D7;
	border-radius: 5px;
}

.pass-form__person {
	margin-bottom: 25px;
}

.pass-form__person:last-of-type {
	margin-bottom: 7px;
}

.pass-form__person:after{
	content: "";
	display: block;
	border-bottom: 1px solid #D4D5D7;
	margin-left: 3px;
	margin-right: -9px;
	position: relative;
	top: 2px;
}

.u__radio--just-label {
	display: none;
}

.u__radio--just-label + span {
	cursor: pointer;
	border: 1px solid #2498D1;
	border-radius: 15px;
	padding: 1px 7px;
	display: inline-block;
	margin-top: 2px;
	margin-right: 5px;
	margin-bottom: 5px;	
	font-size: 12px;
	color: #2498D1;
	font-weight: 600;
}

.u__radio--just-label:checked + span {
	color: white;
	background-color: #2498D1;
}

.pass-form__range-select label{
	margin-right: 30px;

}
.pass-form__range-select input{
	display: none;
}


.pass-form__range-select {
	margin-top: 15px;
}

.pass-form__range-select span{
	font-size: 16px;
	font-weight: 600;
	color: #414752;
}

.pass-form__range-select input + span::before {
	content: "";
	display: inline-block;
	width: 23px;
	height: 23px;
	margin-right: 15px;
	left: 0px;
	bottom: 1px;
	border-radius: 50px;
	border: 1px solid #D4D5D7;
	position: relative;
	top: 7px;

}


.pass-form__range-select input:checked + span::before {
	content: "\2022";
	color: #2498D1;
	font-size: 35px;
	text-align: center;
	line-height: 23px;

}

.pass-form__range-select:before {
	content: "";
	display: block;
	width: 100%;
	border-top: 1px solid #D4D5D7;
	position: relative;
	bottom: 13px;
}

.pass-form__range-select {
	padding-bottom: 10px;
}

.pass-form label {
	font-size: 14px;
	color: #A0A3A8;
}

.pass-form input {
	font-size: 16px;
	color: #414752;
	padding-left: 8px;
	font-weight: 600;
}

.button {
	height:48px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 600;
	border: 1px solid #2498D1;
}

.pass-form__submit {
	position: absolute;
	bottom: -113px;
	left: 0;
	right: 0;
	margin: auto;
}

.button--action {
	background-color: #2498D1;
	color: white;
}

.button--regular {
	background-color: white;
	color: #2498D1;
}

.u__narrow {
	width: 464px;
}

.button--wide {
	width: 301px;
}

.button--narrow {
	width: 224px;
}

.u__left {
	float: left;
}

.u__right {
	float: right;
}

.pass-confirm__header {
	margin-top: 60px;
}

.pass-confirm__pass {
	background-color: white;
	border: 1px solid #DADADC;
	margin-top: 15px;
	margin-bottom: 47px;
}

.pass-confirm__pass__subheader {
	margin-top: 25px;
	margin-left: 15px;
	font-size: 14px;
	color: #A0A3A8;
}

.pass-confirm__pass__subheader:after {
	content: '';
	display: block;
	width: 433px;
	border-top: 1px solid #DADADC;
	margin-top: 4px;
}

.pass-confirm__list__item {
	padding-top: 5px;
	padding-bottom: 2px;
}
.pass-confirm__list {
	padding: 10px 15px;
}

.pass-confirm__pass__time {
	padding: 15px 15px 28px 15px;
}


.pass-confirm__list__item__name {
	font-weight: 600;
	color: #414752;
}

.pass-confirm__list__item__company,
.pass-confirm__list__item__mail,
.pass-confirm__list__item__phone {
	font-size: 14px;
	margin-top: 6px;
	margin-bottom: 3px;
	color: #414752;
}

.pass-confirm__list__item__mail,
.pass-confirm__list__item__phone {
	padding-left: 25px;
	padding-right: 28px;
}

.pass-confirm__list__item__name,
.pass-confirm__list__item__company
{
	display: block;
}



.button--link {
border: medium none;
background: transparent none repeat scroll 0% 0%;
display: inline;
width: 100%;
font-size: 12px;
color: #2498D1;
font-weight: 400;
height: 12px;
}

.u__background--contrast {
	background-color: #2498D1;
}

.u__full-height {
	height: 100%;
}

.pass-success__header {
	font-weight: 300;
	font-size: 48px;
	color: white;
}

.pass-success__link,
.pass-success__message {
	font-size: 16px;
	color: white;
}

.pass-success__header:before {
	content: '';
	background: url(../img/success.png) bottom no-repeat;
	display: block;
	margin: auto;
	margin-bottom: 50px;
	width: 100px;
	height: 217px;
}

.u__text-centered {
	text-align: center;
}

.pass-success__message {
	margin: auto;
	margin-top: 30px;
	width: 400px;
	line-height: 1.5em;
}

.pass-success__link {
	position: relative;
	top: 108px;
}

/* TESTS */
#qunit {
	display: none;
	position: fixed;
	margin: auto;
	height: 70%;
	width: 70%;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
}
